@import '../../../_common/styles/b160x600.scss';
@import '../../../_common/styles/ypy.scss';

#banner{
	background-color: white;
	background-color: #a56bff;
}



.devices{
	@include pos-scale(12, -7, .46);
}

.bg{
	width: 160px;
	height: 600px;
	@include pos(0, 358);
	position: absolute;
	background-color: #ff52ef;
}


.hero{
	// @include pos-scale(-96, 0, .71);
}

.ypy-text{
	transform-origin: 50% 50%;

	filter: drop-shadow(5px 5px 8px rgba(0,0,0,.8));
}
.coin{
	transform-origin: 50% 50%;
}


.ypy-text-1{
	@include pos-scale-rotate(19, 31, .5, -27);
}

.ypy-text-2{
	@include pos-scale-rotate(19, 137, .5, 14);
}

.ypy-text-3{
	@include pos-scale-rotate(73, 207, .5, -33);
}

.coin-1{
	@include pos-scale(18, -26, .5);
}
.coin-2{
	@include pos-scale(-54, -79, .5);
}
.coin-3{
	@include pos-scale(-200, -200, .5);
}
.coin-4{
	@include pos-scale(-88, 300, .5);
}
.coin-5{
	@include pos-scale(-28, 169, .5);
}
.coin-6{
	@include pos-scale(-246, 379, .5);
}
.coin-7{
	@include pos-scale(69, 413, .5);
}
.coin-8{
	@include pos-scale(69, 334, .5);
}

.coin-9{
	@include pos-scale(-17, 89, .5);
}


