@import './common.scss';


#banner{
 width: 300px;
 height: 600px;
}

#olg{
	width: 87px;
	height: 49px;
	@include pos(0, 555);
	// opacity: .5 !important;
	
}




#legalBtn{	
	@include pos(220, 0);	
	width: 72px;
	// opacity: 1;
}



.ypy-all{

	
	@include pos-scale(20, 365, 1.74);
	img{
		@include pos-scale(0, 0, .25);
	}
}
