@import './common.scss';

#banner{
 width: 320px;
 height: 50px; 
}



#olg{
	// border: 1px solid red;
	width: 51px;
	height: 47px;
	@include pos(0, 15);
	// opacity: .5 !important;
}


.legal{
	// display: none;
}

#legalBtn{	
	@include pos(280, 0);	
	width: 40px;

	// display: none;
	// opacity: 1 !important;
}


.ypy-all{
	// opacity: ;
	@include pos-scale(127, 4, 1);
	
}

#legalContent{
	font-size: 8px;
	line-height: 9px;
	padding:2px;
	br{
		display: none;
	}
}