@import './common.scss';

#banner{
 width: 320px;
 height: 50px; 
}



#olg{
	// border: 1px solid red;
	width: 51px;
	height: 47px;
	@include pos(0, 15);
	// opacity: .5 !important;
}




#legalBtn{	
	@include pos(650, 45);	
	width: 80px;
	display: none;
	// opacity: 1 !important;
}
