@import './common.scss';

#banner{
 width: 728px;
 height: 90px; 
}



#olg{
	
	width: 117px;
	height: 69px;
	@include pos(-2, 26);
	
}




#legalBtn{	
	@include pos(650, 0);	
	width: 80px;

}


#legalContent{
	padding: 0;
	padding-left:5px;
}

.ypy-all{
	// opacity: ;
	@include pos-scale(230, 20, 1.03);
	
}

