@import '../../../_common/styles/b160x600.scss';
@import '../../../_common/styles/ypy.scss';

#banner{
	background-color: white;
}

.hero{
	// transform-origin: 50% 50%;
	
	@include pos-scale(-51, 12, .82);
	
}

.frame2{
	background-color: #bfff00;	
}



.footer-bar{
	width: 160px;
	height: 243px;
	background-color: #bfff00;
	@include pos(0, 357);
}

