<div id="legalBtn"></div>
<div id="legalContent">
      © 2023 IGT. Must be 19 years of age or older and a resident of Ontario, located in the province to play online casino games. Games and screens may not appear as shown. Odds vary by game. Terms and conditions apply.
        </div>
        