<div id="legalBtn"></div>
<div id="legalContent">
        Terms and Conditions apply. Individuals must be 19 years of age or older to participate in online sports betting made available by OLG. Must be a resident of Ontario located in the province at the time of registration, where applicable, and play. Please play responsibly. For facts, tools and advice about gambling visit playsmart.ca



        </div>
        