<!DOCTYPE html>
<html>
<% include ../_common/templates/_head %>
<body>

<% include content %>

</body>
<% include ../_common/templates/_footer %>
<script src="_bundled/main.js" inline></script>
</html>
