@import '../../../_common/styles/b300x250.scss';
@import '../../../_common/styles/ypy.scss';

#banner{
	background-color: white;
}

.hero-all{
	@include pos-scale(-40, 0, .5);
}

.frame2{
	background-color: #bfff00;	
}



.footer-bar{
	width: 300px;
	height: 90px;
	background-color: #bfff00;
	@include pos(0, 160);
}

