@import '../../../_common/styles/b300x250.scss';
@import '../../../_common/styles/ypy.scss';

#banner{
	background-color: white;
}

.hero-all{
	@include pos-scale(-40, 0, .5);
	// @include pos-scale(-0, -45, .4);
}

.frame2{
	background-color: #bfff00;
	// @include pos(0, 250);
}

.hero{	
	// @include pos-scale(0, -50, .70);
}

.footer-bar{
	width: 300px;
	height: 90px;
	background-color: #bfff00;
	@include pos(0, 160);
}

.ring, .ypy{
	// @include pos-scale(0, 0, .4);
}

